mars-api/.vs

mars-api/IdentityServer/bin
mars-api/IdentityServer/obj
mars-api/IdentityServer/keys

mars-api/mars-api/.vs
mars-api/mars-api/bin
mars-api/mars-api/obj

mars-client/node_modules
mars-client/.vs
