@page
@model IdentityServer.Pages.Home.Index

<div class="welcome-page">
    <h1>Mars IdentityServer</h1>
    <ul>
        Important links:
        <li>
            <a href="~/.well-known/openid-configuration">Discovery document</a>
        </li>
        <li>
            <a href="~/diagnostics">Claims for the current session</a>
        </li>
        <li>
             <a href="~/grants">Stored grants</a>
        </li>
    </ul>
</div>
